.main-footer__content {
    min-width: 1200px;
    max-width: 1400px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 1px;
    background-color: #2b85db;
}

.main-footer__text {
    margin-bottom: 16.5px;
    text-align: center;
    color: #FFFFFF;
}

.main-footer__text::selection {
    background: #000;
}
