.main-footer__content {
	min-width: 1200px;
	max-width: 1400px;
	font-family: "PT Sans", "Arial", sans-serif;
	background-color: #2b85db;
	height: 50px;
	padding-top: 1px;
	margin: 0 auto;
}

.main-footer__text {
	margin-bottom: 16.5px;
	text-align: center;
	color: #FFFFFF;
}

.main-footer__text::selection {
    background: #000;
   }