.left-menu {
	width: 220px;
	margin-top: 25px;
	padding-top: 10px;
 }

.left-menu__route {
  width: 220px;
}

.left-menu__title{
  text-align: left;
  font-size: 18px;
  margin: 0;
  padding-left: 8px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #2b85db;
  margin-top: 5px;
}

.left-menu__route-items {
  padding: 5px;
  margin: 0;
  list-style: none;
}

.left-menu__route-item {
	margin: 3px;
}

.left-menu__route-link,
.left-menu__route-link--info {
  display: inline-block;
  box-sizing: border-box;
  width: 220px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:  #2b85db;
  font-size: 16px;
  word-wrap: break-word;
  color:  #ffffff;
  text-decoration: none;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 1px 0 black;
  transition: all 0.15s linear;
  text-shadow: 1px 1px 1px #000000;
}

.left-menu__route-link--info {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 5px;
}

.left-menu__route-link:hover,
.left-menu__route-link--info:hover {
  background-color: rgba(240, 240, 240, 0.2);
  color: #2b85db;
  transform: scale(1.05);
  text-shadow: 1px 1px 1px #ffffff;
}

.left-menu__route-link:active {
  /* background-color: #783100; */
  /* color: #ffffff; */
}
