.left-menu {
    width: 220px;
    margin-top: 25px;
    padding-top: 10px;
}

.left-menu__route {
    width: 220px;
    margin-left: -42px;
}

.left-menu__title {
    margin: 0;
    margin-top: 5px;
    padding-left: 8px;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #2b85db;

}

.left-menu__route-items {
    padding: 5px;
    margin: 0;
    list-style: none;
    width: 200px;
}

.left-menu__route-item {
    margin: 3px;
    width: 210px;
}

.left-menu__route-link,
.left-menu__route-link--info {
    display: inline-block;
    box-sizing: border-box;
    width: 210px;
    /* padding-left: 20px; */
    padding-top: 12px;
    padding-bottom: 12px;
    /* background-color: #2b85db; */
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    /* color: #ffffff; */
	color: #2b85db;
    text-decoration: none;
   /*  box-shadow: 1px 1px 1px 0 black; */
   border-radius: 5px;
    transition: all 0.15s linear;
}

.left-menu__route-link--info {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 5px;
}

.left-menu__route-link:hover,
.left-menu__route-link--info:hover {
    transform: scale(1.05);
    text-shadow: 1px 1px 1px #00000;
}

.left-menu__route-link:active,
.left-menu__route-link--info:active {
    background-color: #FFFFFF;
    color: #2b85db;
    text-shadow: none;
}
