.left-menu {
    max-width: 220px;
    /*margin-top: 25px;*/
    margin-left: 40px;
    padding-top: 10px;
    padding-right: 3px;
    background-color: rgba(28, 118, 204, 0.9);
	height: 150px;
	position: absolute;
	visibility: hidden;
	z-index: 99;
	left: 10px;
	top: 50px;
	
}

.left-menu__title {
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;

    color: rgb(240, 240, 240);
	z-index: 99;	
}


.left-menu__title:hover,
.left-menu__route-link--info:hover  {
    text-decoration: underline;	
}

.left-menu__route:hover .left-menu__route-items {
	visibility: visible;
	height: auto;
	z-index: 0;
	opacity: 1;
}

.left-menu__route-items {
	position: absolute;
	background-color: rgba(240, 240, 240, 0.9);
    padding: 0;
    margin: 0;
	left: 220px;
	margin-top: -25px;
    list-style: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s linear;
	z-index: 1;
}

.left-menu__route-item {
    /* margin: 3px; */
}

.left-menu__route-link {
    display: inline-block;
    box-sizing: border-box;
    width: 210px;
    /* padding-left: 20px; */
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* background-color: #2b85db; */
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    /* color: #ffffff; */
    color: #2b85db;
    text-decoration: none;
    /* transition: all 0.15s linear; */
}

.left-menu__route-link--info {
	color: rgb(240, 240, 240);
    display: inline-block;
    text-transform: uppercase;
    margin-left: 5px;
	text-decoration: none;
}

.left-menu__route-link:hover{
    /* transform: scale(1.05); */
    background-color: rgba(28, 118, 204, 0.5);
    color: rgb(240, 240, 240);
}

.left-menu__route-link:active, 
.left-menu__route-link--info:active {
    background-color: #FFFFFF;
    color: #2b85db;
    text-shadow: none;
}
