.main-content {
    position: relative;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 25px;
    margin-right: 80px;
}

.cards-tours__title {
    margin-left: 40px !important;
    margin-bottom: 80px;
    line-height: 55px;
    font-size: 40px;
    color: #7F7B6B;
}

.tours-items {
    position: relative;
    width: 850px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.btn_all-tours,
.btn_info {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #7F5524;
    border-radius: 5px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    word-wrap: break-word;
    color: #ffffff;
    background-color: #BF9F38;
}

.btn_all-tours:hover {
    background-color: #BF9F38;
    color: #FFFFFF;
}

.btn_info:hover {
    background-color: #A68005;
}

.btn_info {
    display: block;
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 150px;
    padding: 5px;
}

.tour-item {
    position: relative;
    float: left;
    width: 210px;
    height: 140px;
    margin-left: 15.5px;
    margin-bottom: 15.5px;
    border: 1px solid #7F7B6B;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(20, 20, 50, 0.8);
    background-color: #2b85db;
    transition: all 0.2s linear;
}

.tour-item:hover {
    transform: scale(1.09);
    z-index: 1;
}

.tour-item__link {
    text-decoration: none;
}

.tour-item__text-content {
    display: block;
    overflow: hidden;
    max-height: 120px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px !important;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    border-top: 1px solid #FFFFFF;
}

.tour-item__text-content_date {
    display: block;
    color: #FFFFFF;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.tour-item__img-content {
    display: block;
    min-width: 150px;
    max-width: 150px;
    min-height: 100px;
    max-height: 100px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    background-size: contain;
}
