.top-navigation {
    min-width: 1200px;
    max-width: 1400px;
    background-color: #2b85db;
    margin: 0 auto;
}

.top-navigation__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.top-navigation__item, .top-navigation__item_active {
    height: 50px;
    list-style: none;
}

.top-navigation__item_active {
    background-color: rgba(240, 240, 240, 0.3);
}

.top-navigation__link {
    display: inline-block;
    padding: 16px;
    color: #FFFFFF;
    text-decoration: none;
    /* text-shadow: 1px 1px 1px #000000; */
}

.top-navigation__link:hover {
    background-color: rgba(240, 240, 240, 0.3);
}

